* { 
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
}

.container {
  display: flex;
  height: 100vh;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background: plum;
  flex-basis: 0;
  flex-grow: 1;
}

.coluna {
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  flex-grow: 4;
}

.header, .main, .footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 0;
}

.header { background: salmon; flex-grow: 1; }
.main   { background: cadetblue; flex-grow: 3; }
.footer { background: rgb(179, 31, 179); flex-grow: 1; }